.formu {
  background-color: rgb(49, 47, 47);
  word-break: break-all;
}
.tabler {
  background-color: rgb(131, 127, 127);
  word-break: break-all;
}

.container {
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  padding: 0;
}

.columna{
  height: auto; /*Ocupar el 100% del viewport*/
}

.principal{
  height: 100vh;
}

/*Formulario*/
.titulo {
  color: white;
  text-align: center;
  font-family: 'Lobster', cursive;
  font-size: 30px;
  white-space: normal;
  -ms-word-break: break-all;
  word-break: break-all;
  word-break: break-word;     /* Sólo WebKit -NO DOCUMENTADO */

  -ms-hyphens: auto;          /* Guiones para separar en sílabas */
  -moz-hyphens: auto;         /*  depende de lang en <html>      */
  -webkit-hyphens: auto;
  hyphens: auto;
}

.divTitulo{
  overflow-wrap: break-word;
}


input {
  border-radius: 5px;
}

.inp {
  border: 0px;
  border-bottom: 2px solid blue;
  height: 40px;
  width: 180px;
}

.priori {
  width: 180px;
  border: 0px;
  border-bottom: 2px solid blue;
  border-radius: 5px;
  height: 40px;
}

.inp-actualizar {
  border: 0px;
  border-bottom: 2px solid rgb(102, 245, 102);
  height: 40px;
  width: 180px;
}

.priori-actualizar {
  width: 180px;
  border: 0px;
  border-bottom: 2px solid rgb(102, 245, 102);
  border-radius: 5px;
  height: 40px;
}

button {
  margin-top: 30px;
}

.agregar {
  width: 30px;
}

.btnAnadir{
  margin-bottom: 20px;
}

.botonimagen {
  background-color: rgb(49, 47, 47) ;
  border: none;
  position: relative;
  top: -20px;
}

.imagenanadir {
  width: 50px;
}

.alert{
  width: 180px;
}

.imagenactualizar{
  width: 50px;
  position: relative;
  top: 6px;
}

/*Card*/
.tajerta{
  position: absolute;
}

.btnElim{
  position: absolute;
  right: -12px;
  top: -42px;
  width: 25px;
  border-radius: 10px;
  border-radius: 50%;
  background-color: rgb(223, 9, 9);
  border: none;
  color:rgb(180, 173, 173)
}

.btnActual{
  width: 100px;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 15px;
  margin-top: -10px;
  background-color: rgb(102, 245, 102);
  border: none;
  border-radius: 10px;
}

/*Buscador*/
.busqueda{
  margin-right: 80px;
}
.longitud{
  /* padding-left: 50px; */
  padding-top: 4px;
  font-size: 15px;
  font-weight: 900;
}

/*Nro de tareas*/

span{
  color: black ;
}

a {
  color: rgba(56, 60, 219, 1)
}

.close{
  color: black ;

}

/*Tamaño de Modal*/



